doctype html
html
  head
    title= title
    https://github.com/windowsazure/iisnode/downloads
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    block content